.card-wrapper {
    display:flex;
    justify-content:center;
}

.card-container {
    display:flex;
    gap:40px;
    width:1000px;
    flex-wrap:wrap;
}

.card {
    width: 200px;
    display:flex;
    align-items: center;

}
